@charset "UTF-8";
/* 
    ID = #
    CLASS = .
*/
body{
    background-color: #d2fff0;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #0c523a;
}
#principal {
    text-align: center;
    background-color: #0c523a;
    color: #ffffff;
    border-radius: 5px;
    padding:5px;
}
h2 {
    color: #4b7567;
}
.basico {
    text-align: left;
    color: #3a7c3a;
}
.intermediario {
    text-align: center;
    color: #888d42;
}
.avancado{
    text-align: right;
    color: #7c3a3a;
}